
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #e5e5e5;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* Compensar la altura del header fixed para las anclas */
html {
  scroll-padding-top: 5rem; /* 80px - altura del header h-20 */
}
